@model ASP.NET_MVC_TV_LT.Models.MyModel
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.abc</h3>
<h4>@Model.NAME</h4>
<h4>@Model.PHONE</h4>

<p>Use this area to provide additional information.</p>
